# Yop's part
## Data Exploration

In [20]:
#importing libraries 
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import tensorflow as ts

In [12]:
train = pd.read_csv("data/train_images.csv")
test_samples = pd.read_csv("data/test_images_sample.csv")

In [21]:
test_samples

        id  label
0        1      1
1        2      1
2        3      1
3        4      1
4        5      1
...    ...    ...
3995  3996      1
3996  3997      1
3997  3998      1
3998  3999      1
3999  4000      1

[4000 rows x 2 columns]

In [13]:
train

                  image_path  label
0        /train_images/1.jpg      1
1        /train_images/2.jpg      1
2        /train_images/3.jpg      1
3        /train_images/4.jpg      1
4        /train_images/5.jpg      1
...                      ...    ...
3921  /train_images/3922.jpg    200
3922  /train_images/3923.jpg    200
3923  /train_images/3924.jpg    200
3924  /train_images/3925.jpg    200
3925  /train_images/3926.jpg    200

[3926 rows x 2 columns]

In [14]:
unique_values_count = train['label'].nunique()

print(f"Number of unique values in 'label': {unique_values_count}")

Number of unique values in 'label': 200

In [15]:
loaded_class = np.load('data/class_names.npy', allow_pickle=True)

In [16]:
loaded_class

array({'001.Black_footed_Albatross': 1, '002.Laysan_Albatross': 2, '003.Sooty_Albatross': 3, '004.Groove_billed_Ani': 4, '005.Crested_Auklet': 5, '006.Least_Auklet': 6, '007.Parakeet_Auklet': 7, '008.Rhinoceros_Auklet': 8, '009.Brewer_Blackbird': 9, '010.Red_winged_Blackbird': 10, '011.Rusty_Blackbird': 11, '012.Yellow_headed_Blackbird': 12, '013.Bobolink': 13, '014.Indigo_Bunting': 14, '015.Lazuli_Bunting': 15, '016.Painted_Bunting': 16, '017.Cardinal': 17, '018.Spotted_Catbird': 18, '019.Gray_Catbird': 19, '020.Yellow_breasted_Chat': 20, '021.Eastern_Towhee': 21, '022.Chuck_will_Widow': 22, '023.Brandt_Cormorant': 23, '024.Red_faced_Cormorant': 24, '025.Pelagic_Cormorant': 25, '026.Bronzed_Cowbird': 26, '027.Shiny_Cowbird': 27, '028.Brown_Creeper': 28, '029.American_Crow': 29, '030.Fish_Crow': 30, '031.Black_billed_Cuckoo': 31, '032.Mangrove_Cuckoo': 32, '033.Yellow_billed_Cuckoo': 33, '034.Gray_crowned_Rosy_Finch': 34, '035.Purple_Finch': 35, '036.Northern_Flicker': 36, '037.Acadian_Flycatcher': 37, '038.Great_Crested_Flycatcher': 38, '039.Least_Flycatcher': 39, '040.Olive_sided_Flycatcher': 40, '041.Scissor_tailed_Flycatcher': 41, '042.Vermilion_Flycatcher': 42, '043.Yellow_bellied_Flycatcher': 43, '044.Frigatebird': 44, '045.Northern_Fulmar': 45, '046.Gadwall': 46, '047.American_Goldfinch': 47, '048.European_Goldfinch': 48, '049.Boat_tailed_Grackle': 49, '050.Eared_Grebe': 50, '051.Horned_Grebe': 51, '052.Pied_billed_Grebe': 52, '053.Western_Grebe': 53, '054.Blue_Grosbeak': 54, '055.Evening_Grosbeak': 55, '056.Pine_Grosbeak': 56, '057.Rose_breasted_Grosbeak': 57, '058.Pigeon_Guillemot': 58, '059.California_Gull': 59, '060.Glaucous_winged_Gull': 60, '061.Heermann_Gull': 61, '062.Herring_Gull': 62, '063.Ivory_Gull': 63, '064.Ring_billed_Gull': 64, '065.Slaty_backed_Gull': 65, '066.Western_Gull': 66, '067.Anna_Hummingbird': 67, '068.Ruby_throated_Hummingbird': 68, '069.Rufous_Hummingbird': 69, '070.Green_Violetear': 70, '071.Long_tailed_Jaeger': 71, '072.Pomarine_Jaeger': 72, '073.Blue_Jay': 73, '074.Florida_Jay': 74, '075.Green_Jay': 75, '076.Dark_eyed_Junco': 76, '077.Tropical_Kingbird': 77, '078.Gray_Kingbird': 78, '079.Belted_Kingfisher': 79, '080.Green_Kingfisher': 80, '081.Pied_Kingfisher': 81, '082.Ringed_Kingfisher': 82, '083.White_breasted_Kingfisher': 83, '084.Red_legged_Kittiwake': 84, '085.Horned_Lark': 85, '086.Pacific_Loon': 86, '087.Mallard': 87, '088.Western_Meadowlark': 88, '089.Hooded_Merganser': 89, '090.Red_breasted_Merganser': 90, '091.Mockingbird': 91, '092.Nighthawk': 92, '093.Clark_Nutcracker': 93, '094.White_breasted_Nuthatch': 94, '095.Baltimore_Oriole': 95, '096.Hooded_Oriole': 96, '097.Orchard_Oriole': 97, '098.Scott_Oriole': 98, '099.Ovenbird': 99, '100.Brown_Pelican': 100, '101.White_Pelican': 101, '102.Western_Wood_Pewee': 102, '103.Sayornis': 103, '104.American_Pipit': 104, '105.Whip_poor_Will': 105, '106.Horned_Puffin': 106, '107.Common_Raven': 107, '108.White_necked_Raven': 108, '109.American_Redstart': 109, '110.Geococcyx': 110, '111.Loggerhead_Shrike': 111, '112.Great_Grey_Shrike': 112, '113.Baird_Sparrow': 113, '114.Black_throated_Sparrow': 114, '115.Brewer_Sparrow': 115, '116.Chipping_Sparrow': 116, '117.Clay_colored_Sparrow': 117, '118.House_Sparrow': 118, '119.Field_Sparrow': 119, '120.Fox_Sparrow': 120, '121.Grasshopper_Sparrow': 121, '122.Harris_Sparrow': 122, '123.Henslow_Sparrow': 123, '124.Le_Conte_Sparrow': 124, '125.Lincoln_Sparrow': 125, '126.Nelson_Sharp_tailed_Sparrow': 126, '127.Savannah_Sparrow': 127, '128.Seaside_Sparrow': 128, '129.Song_Sparrow': 129, '130.Tree_Sparrow': 130, '131.Vesper_Sparrow': 131, '132.White_crowned_Sparrow': 132, '133.White_throated_Sparrow': 133, '134.Cape_Glossy_Starling': 134, '135.Bank_Swallow': 135, '136.Barn_Swallow': 136, '137.Cliff_Swallow': 137, '138.Tree_Swallow': 138, '139.Scarlet_Tanager': 139, '140.Summer_Tanager': 140, '141.Artic_Tern': 141, '142.Black_Tern': 142, '143.Caspian_Tern': 143, '144.Common_Tern': 144, '145.Elegant_Tern': 145, '146.Forsters_Tern': 146, '147.Least_Tern': 147, '148.Green_tailed_Towhee': 148, '149.Brown_Thrasher': 149, '150.Sage_Thrasher': 150, '151.Black_capped_Vireo': 151, '152.Blue_headed_Vireo': 152, '153.Philadelphia_Vireo': 153, '154.Red_eyed_Vireo': 154, '155.Warbling_Vireo': 155, '156.White_eyed_Vireo': 156, '157.Yellow_throated_Vireo': 157, '158.Bay_breasted_Warbler': 158, '159.Black_and_white_Warbler': 159, '160.Black_throated_Blue_Warbler': 160, '161.Blue_winged_Warbler': 161, '162.Canada_Warbler': 162, '163.Cape_May_Warbler': 163, '164.Cerulean_Warbler': 164, '165.Chestnut_sided_Warbler': 165, '166.Golden_winged_Warbler': 166, '167.Hooded_Warbler': 167, '168.Kentucky_Warbler': 168, '169.Magnolia_Warbler': 169, '170.Mourning_Warbler': 170, '171.Myrtle_Warbler': 171, '172.Nashville_Warbler': 172, '173.Orange_crowned_Warbler': 173, '174.Palm_Warbler': 174, '175.Pine_Warbler': 175, '176.Prairie_Warbler': 176, '177.Prothonotary_Warbler': 177, '178.Swainson_Warbler': 178, '179.Tennessee_Warbler': 179, '180.Wilson_Warbler': 180, '181.Worm_eating_Warbler': 181, '182.Yellow_Warbler': 182, '183.Northern_Waterthrush': 183, '184.Louisiana_Waterthrush': 184, '185.Bohemian_Waxwing': 185, '186.Cedar_Waxwing': 186, '187.American_Three_toed_Woodpecker': 187, '188.Pileated_Woodpecker': 188, '189.Red_bellied_Woodpecker': 189, '190.Red_cockaded_Woodpecker': 190, '191.Red_headed_Woodpecker': 191, '192.Downy_Woodpecker': 192, '193.Bewick_Wren': 193, '194.Cactus_Wren': 194, '195.Carolina_Wren': 195, '196.House_Wren': 196, '197.Marsh_Wren': 197, '198.Rock_Wren': 198, '199.Winter_Wren': 199, '200.Common_Yellowthroat': 200},
      dtype=object)

In [19]:
np.load("data/class_names.npy", allow_pickle=True).item()

{'001.Black_footed_Albatross': 1,
 '002.Laysan_Albatross': 2,
 '003.Sooty_Albatross': 3,
 '004.Groove_billed_Ani': 4,
 '005.Crested_Auklet': 5,
 '006.Least_Auklet': 6,
 '007.Parakeet_Auklet': 7,
 '008.Rhinoceros_Auklet': 8,
 '009.Brewer_Blackbird': 9,
 '010.Red_winged_Blackbird': 10,
 '011.Rusty_Blackbird': 11,
 '012.Yellow_headed_Blackbird': 12,
 '013.Bobolink': 13,
 '014.Indigo_Bunting': 14,
 '015.Lazuli_Bunting': 15,
 '016.Painted_Bunting': 16,
 '017.Cardinal': 17,
 '018.Spotted_Catbird': 18,
 '019.Gray_Catbird': 19,
 '020.Yellow_breasted_Chat': 20,
 '021.Eastern_Towhee': 21,
 '022.Chuck_will_Widow': 22,
 '023.Brandt_Cormorant': 23,
 '024.Red_faced_Cormorant': 24,
 '025.Pelagic_Cormorant': 25,
 '026.Bronzed_Cowbird': 26,
 '027.Shiny_Cowbird': 27,
 '028.Brown_Creeper': 28,
 '029.American_Crow': 29,
 '030.Fish_Crow': 30,
 '031.Black_billed_Cuckoo': 31,
 '032.Mangrove_Cuckoo': 32,
 '033.Yellow_billed_Cuckoo': 33,
 '034.Gray_crowned_Rosy_Finch': 34,
 '035.Purple_Finch': 35,
 '036.Northern_Flicker': 36,
 '037.Acadian_Flycatcher': 37,
 '038.Great_Crested_Flycatcher': 38,
 '039.Least_Flycatcher': 39,
 '040.Olive_sided_Flycatcher': 40,
 '041.Scissor_tailed_Flycatcher': 41,
 '042.Vermilion_Flycatcher': 42,
 '043.Yellow_bellied_Flycatcher': 43,
 '044.Frigatebird': 44,
 '045.Northern_Fulmar': 45,
 '046.Gadwall': 46,
 '047.American_Goldfinch': 47,
 '048.European_Goldfinch': 48,
 '049.Boat_tailed_Grackle': 49,
 '050.Eared_Grebe': 50,
 '051.Horned_Grebe': 51,
 '052.Pied_billed_Grebe': 52,
 '053.Western_Grebe': 53,
 '054.Blue_Grosbeak': 54,
 '055.Evening_Grosbeak': 55,
 '056.Pine_Grosbeak': 56,
 '057.Rose_breasted_Grosbeak': 57,
 '058.Pigeon_Guillemot': 58,
 '059.California_Gull': 59,
 '060.Glaucous_winged_Gull': 60,
 '061.Heermann_Gull': 61,
 '062.Herring_Gull': 62,
 '063.Ivory_Gull': 63,
 '064.Ring_billed_Gull': 64,
 '065.Slaty_backed_Gull': 65,
 '066.Western_Gull': 66,
 '067.Anna_Hummingbird': 67,
 '068.Ruby_throated_Hummingbird': 68,
 '069.Rufous_Hummingbird': 69,
 '070.Green_Violetear': 70,
 '071.Long_tailed_Jaeger': 71,
 '072.Pomarine_Jaeger': 72,
 '073.Blue_Jay': 73,
 '074.Florida_Jay': 74,
 '075.Green_Jay': 75,
 '076.Dark_eyed_Junco': 76,
 '077.Tropical_Kingbird': 77,
 '078.Gray_Kingbird': 78,
 '079.Belted_Kingfisher': 79,
 '080.Green_Kingfisher': 80,
 '081.Pied_Kingfisher': 81,
 '082.Ringed_Kingfisher': 82,
 '083.White_breasted_Kingfisher': 83,
 '084.Red_legged_Kittiwake': 84,
 '085.Horned_Lark': 85,
 '086.Pacific_Loon': 86,
 '087.Mallard': 87,
 '088.Western_Meadowlark': 88,
 '089.Hooded_Merganser': 89,
 '090.Red_breasted_Merganser': 90,
 '091.Mockingbird': 91,
 '092.Nighthawk': 92,
 '093.Clark_Nutcracker': 93,
 '094.White_breasted_Nuthatch': 94,
 '095.Baltimore_Oriole': 95,
 '096.Hooded_Oriole': 96,
 '097.Orchard_Oriole': 97,
 '098.Scott_Oriole': 98,
 '099.Ovenbird': 99,
 '100.Brown_Pelican': 100,
 '101.White_Pelican': 101,
 '102.Western_Wood_Pewee': 102,
 '103.Sayornis': 103,
 '104.American_Pipit': 104,
 '105.Whip_poor_Will': 105,
 '106.Horned_Puffin': 106,
 '107.Common_Raven': 107,
 '108.White_necked_Raven': 108,
 '109.American_Redstart': 109,
 '110.Geococcyx': 110,
 '111.Loggerhead_Shrike': 111,
 '112.Great_Grey_Shrike': 112,
 '113.Baird_Sparrow': 113,
 '114.Black_throated_Sparrow': 114,
 '115.Brewer_Sparrow': 115,
 '116.Chipping_Sparrow': 116,
 '117.Clay_colored_Sparrow': 117,
 '118.House_Sparrow': 118,
 '119.Field_Sparrow': 119,
 '120.Fox_Sparrow': 120,
 '121.Grasshopper_Sparrow': 121,
 '122.Harris_Sparrow': 122,
 '123.Henslow_Sparrow': 123,
 '124.Le_Conte_Sparrow': 124,
 '125.Lincoln_Sparrow': 125,
 '126.Nelson_Sharp_tailed_Sparrow': 126,
 '127.Savannah_Sparrow': 127,
 '128.Seaside_Sparrow': 128,
 '129.Song_Sparrow': 129,
 '130.Tree_Sparrow': 130,
 '131.Vesper_Sparrow': 131,
 '132.White_crowned_Sparrow': 132,
 '133.White_throated_Sparrow': 133,
 '134.Cape_Glossy_Starling': 134,
 '135.Bank_Swallow': 135,
 '136.Barn_Swallow': 136,
 '137.Cliff_Swallow': 137,
 '138.Tree_Swallow': 138,
 '139.Scarlet_Tanager': 139,
 '140.Summer_Tanager': 140,
 '141.Artic_Tern': 141,
 '142.Black_Tern': 142,
 '143.Caspian_Tern': 143,
 '144.Common_Tern': 144,
 '145.Elegant_Tern': 145,
 '146.Forsters_Tern': 146,
 '147.Least_Tern': 147,
 '148.Green_tailed_Towhee': 148,
 '149.Brown_Thrasher': 149,
 '150.Sage_Thrasher': 150,
 '151.Black_capped_Vireo': 151,
 '152.Blue_headed_Vireo': 152,
 '153.Philadelphia_Vireo': 153,
 '154.Red_eyed_Vireo': 154,
 '155.Warbling_Vireo': 155,
 '156.White_eyed_Vireo': 156,
 '157.Yellow_throated_Vireo': 157,
 '158.Bay_breasted_Warbler': 158,
 '159.Black_and_white_Warbler': 159,
 '160.Black_throated_Blue_Warbler': 160,
 '161.Blue_winged_Warbler': 161,
 '162.Canada_Warbler': 162,
 '163.Cape_May_Warbler': 163,
 '164.Cerulean_Warbler': 164,
 '165.Chestnut_sided_Warbler': 165,
 '166.Golden_winged_Warbler': 166,
 '167.Hooded_Warbler': 167,
 '168.Kentucky_Warbler': 168,
 '169.Magnolia_Warbler': 169,
 '170.Mourning_Warbler': 170,
 '171.Myrtle_Warbler': 171,
 '172.Nashville_Warbler': 172,
 '173.Orange_crowned_Warbler': 173,
 '174.Palm_Warbler': 174,
 '175.Pine_Warbler': 175,
 '176.Prairie_Warbler': 176,
 '177.Prothonotary_Warbler': 177,
 '178.Swainson_Warbler': 178,
 '179.Tennessee_Warbler': 179,
 '180.Wilson_Warbler': 180,
 '181.Worm_eating_Warbler': 181,
 '182.Yellow_Warbler': 182,
 '183.Northern_Waterthrush': 183,
 '184.Louisiana_Waterthrush': 184,
 '185.Bohemian_Waxwing': 185,
 '186.Cedar_Waxwing': 186,
 '187.American_Three_toed_Woodpecker': 187,
 '188.Pileated_Woodpecker': 188,
 '189.Red_bellied_Woodpecker': 189,
 '190.Red_cockaded_Woodpecker': 190,
 '191.Red_headed_Woodpecker': 191,
 '192.Downy_Woodpecker': 192,
 '193.Bewick_Wren': 193,
 '194.Cactus_Wren': 194,
 '195.Carolina_Wren': 195,
 '196.House_Wren': 196,
 '197.Marsh_Wren': 197,
 '198.Rock_Wren': 198,
 '199.Winter_Wren': 199,
 '200.Common_Yellowthroat': 200}

In [24]:
pd.DataFrame(np.load("data/attributes.npy", allow_pickle=True))

,0,1,2,3,4,5,6,7,8,9,...,302,303,304,305,306,307,308,309,310,311
0,0.010638,0.010638,0.007092,0.003546,0.138299,0.065603,0.000000,0.005319,0.000000,0.000000,...,0.000000,0.005439,0.005439,0.228446,0.000000,0.000000,0.186020,0.009186,0.025262,0.020669
1,0.000000,0.011332,0.009444,0.000000,0.202095,0.041552,0.015110,0.005666,0.000000,0.000000,...,0.006291,0.000000,0.111144,0.008388,0.000000,0.046135,0.202572,0.002665,0.021323,0.058639
2,0.000000,0.000000,0.007425,0.000000,0.002475,0.000000,0.000000,0.074247,0.146020,0.000000,...,0.000000,0.000000,0.190411,0.012555,0.000000,0.010462,0.203609,0.000000,0.008853,0.017705
3,0.000000,0.000000,0.003861,0.000000,0.003861,0.013514,0.005792,0.073360,0.138998,0.004127,...,0.004885,0.000000,0.190531,0.000000,0.000000,0.000000,0.152750,0.006840,0.036478,0.043317
4,0.000000,0.035088,0.000000,0.000000,0.000000,0.000000,0.102458,0.070177,0.000000,0.000000,...,0.000000,0.000000,0.204036,0.002458,0.002458,0.000000,0.031640,0.002751,0.015132,0.158200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,0.000000,0.020881,0.000000,0.000000,0.000000,0.000000,0.208805,0.006425,0.000000,0.000000,...,0.000000,0.000000,0.041319,0.013281,0.000000,0.007378,0.222993,0.000000,0.002915,0.010202
196,0.003381,0.000000,0.003381,0.000000,0.008451,0.000000,0.098037,0.113250,0.005071,0.000000,...,0.003194,0.025553,0.009582,0.011179,0.051105,0.091031,0.036022,0.003431,0.039453,0.152665
197,0.000000,0.003350,0.000000,0.000000,0.003350,0.000000,0.093790,0.139011,0.001675,0.005359,...,0.000000,0.039706,0.000000,0.002941,0.008823,0.130882,0.085339,0.005566,0.000000,0.150271
198,0.000000,0.111841,0.000000,0.000000,0.000000,0.000000,0.093201,0.010167,0.000000,0.000000,...,0.000000,0.012767,0.173262,0.045595,0.000000,0.000000,0.056538,0.082072,0.058362,0.018238
199,0.043780,0.028144,0.000000,0.007818,0.000000,0.000000,0.145413,0.014072,0.000000,0.000000,...,0.000000,0.000000,0.084789,0.010599,0.000000,0.054508,0.040150,0.060225,0.076954,0.061898

## Data Preprocessing

In [27]:
from torchvision import transforms

In [30]:
resize_transform = transforms.Resize((224,224))
normalize_transform = transforms.Normalize(mean = [0.485, 0.456, 0.406], std = [0.229, 0.224, 0.225])
tensor_transform = transforms.ToTensor()

(augumentation step)

In [38]:
train_transform = transforms.Compose([
    resize_transform,
    tensor_transform,
    normalize_transform
]
)

In [32]:
from PIL import Image

In [35]:
train.head()

            image_path  label
0  /train_images/1.jpg      1
1  /train_images/2.jpg      1
2  /train_images/3.jpg      1
3  /train_images/4.jpg      1
4  /train_images/5.jpg      1

In [40]:
processed_images = []
labels = []

for idx, row in train.iterrows():
    image_path = row['image_path']
    label = row['label']
    
    image = Image.open('data/'+image_path).convert('RGB')
    
    transformed_image = train_transform(image)
    
    processed_images.append(transformed_image)
    labels.append(label)